body {
    background-color: aquamarine;
    margin: 0 15%;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid blue;
    margin-top: 30px;
}

h2 {
    font-size: lem;
    text-transform: uppercase;
    font-weight: normal;
}